body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

header{
    font-size: 30pt;
}

main{
    height: 70vh;
    overflow: auto;
}